#Map_Canvas {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.container {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 0;
}

.nav {
  max-height: 250px;
  overflow-y:scroll;
  background-color: white;
}

.venue-list-window {
  height: 200px;
}

.left-text {
  text-align: left;
  display:inline-block;
}

.right-image {
  width: 100px;
  float: right;
  display:inline-block;
}

.custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
        
    }

    .custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

    .search-query:focus + button {
        z-index: 3;   
    }