#Map_Canvas {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.container {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 0;
}

.nav {
  max-height: 250px;
  overflow-y:scroll;
  overflow-x:hidden;
  background-color: white;
}

.custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
    margin-left: 10px;
}
.custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

.panel-info, .panel-rating {
    float: left;
    margin: 0 10px;
}

.panel-more1 {
  float: right;
  vertical-align: top;
  margin-top: 10px;
}

.panel-body {
  float: left;
}

.venue-list-item {
  position: relative;
  left:5px;
}

.venue-list-container {
  padding-top: 5px;
}

.content {
  display: inline-block;
}

.left-content {
  display: inline-block;
  height:100%;
  width: 100%;
}
.left-content {
  width:70%;
}
.right-content {
  display: inline;
  vertical-align: top;
  float: right;
  width:30%;
}